<nav class="robobai-nav-bar" aria-label="Top Toolbar">  
  <mat-toolbar color="primary">
    <button mat-icon-button class="robobai-icon" aria-label="icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Robobai</span>
    <!-- <span class="robobai-spacer"></span>
    <robobai-search></robobai-search> -->
    <span class="robobai-spacer"></span>
    <a mat-icon-button href="https://shivamsngh.github.io" target="_blank" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </a>
    <a mat-icon-button href="https://github.com/shivamsngh/simple-inventory" target="_blank" class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </a>
  </mat-toolbar>
</nav>